name: "CI-Deploy"
on:
  workflow_dispatch:
    inputs:
      azd_environment_name:
        description: "Name of the AZD Environment"
        required: true
        default: "dev"
      azure_location:
        description: "Azure location for the environment"
        required: true
        default: "eastus"
  push:
    # Run when commits are pushed to mainline branch (main or master)
    # Set this to the mainline branch you are using
    branches: #Tmp testing: set to current pr banch
      - basic_wf
# GitHub Actions workflow to deploy to Azure using azd
# To configure required secrets for connecting to Azure, simply run `azd pipeline config --auth-type client-credentials`

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install azd
        uses: Azure/setup-azd@v2

      - name: Install Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18
      
      - name: Install Terrform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Switch to Remote backend- Create provider.conf.json file
        env:
          # AZURE_ENV_NAME: ${{ github.event.inputs.azd_environment_name }}
          #tmp for testing on branch
          AZURE_ENV_NAME: test
        run: |
          echo "Switching to remote backend"
          echo "Creating ${{ github.workspace }}/infra/provider.conf.json file"
          cat <<EOF > ${{ github.workspace }}/infra/provider.conf.json
          {
              {
                "storage_account_name": "\${RS_STORAGE_ACCOUNT}",
                "container_name": "\${RS_CONTAINER_NAME}",
                "key": "azd/ci/azdremotetest.tfstate",
                "resource_group_name": "\${RS_RESOURCE_GROUP}",  
              }
          }
          EOF  
          
          FILE="provider.backend.tf"
          echo "Creating ${{ github.workspace }}/infra/$FILE file"
          # Create the file and write the backend configuration
          cat <<EOF > "${{ github.workspace }}/infra/$FILE"
          terraform {
            backend "azurerm" {}
          }
          EOF

          
        shell: bash
      # - name: Login az
      #   uses: azure/login@v2
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Log in with Azure dev
      #   run: |
      #     $info = $Env:AZURE_CREDENTIALS | ConvertFrom-Json -AsHashtable;
      #     Write-Host "::add-mask::$($info.clientSecret)"

      #     az account set --subscription "$($info.subscriptionId)"

      #     azd auth login `
      #       --client-id "$($info.clientId)" `
      #       --client-secret "$($info.clientSecret)" `
      #       --tenant-id "$($info.tenantId)"
          
      #     azd config set auth.useAzCliAuth "true"
         
      #   shell: pwsh
      #   env:
      #     AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Provision Infrastructure
      #   env:
      #     # AZURE_ENV_NAME: ${{ github.event.inputs.azd_environment_name }}
      #     # AZURE_LOCATION: ${{ github.event.inputs.azure_location  }}  
      #     #tmp for testing on branch
      #     AZURE_ENV_NAME: test
      #     AZURE_LOCATION: eastus         
      #     POWER_PLATFORM_USE_CLI: true
      #     AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
            # RS_ACCOUNT_NAME: ${{ vars.AZURE_STORAGE_ACCOUNT_NAME }}
            # RS_CONTAINER_NAME: ${{ vars.AZURE_STORAGE_CONTAINER_NAME }}
            # RS_RESOURCE_GROUP: ${{ vars.AZURE_STORAGE_RESOURCE_GROUP }}
      #   shell: pwsh
      #   run: |
      #     $info = $Env:AZURE_CREDENTIALS | ConvertFrom-Json -AsHashtable;
      #     Write-Host "::add-mask::$($info.clientSecret)"
          
      #     $env:AZURE_SUBSCRIPTION_ID="$($info.subscriptionId)"
      #     $env:ARM_TENANT_ID="$($info.tenantId)"
      #     $env:ARM_CLIENT_ID="$($info.clientId)"
      #     $env:ARM_CLIENT_SECRET="$($info.clientSecret)"

      #     $env:POWER_PLATFORM_TENANT_ID="$($info.tenantId)"
      #     $env:POWER_PLATFORM_CLIENT_ID="$($info.clientId)"
      #     $env:POWER_PLATFORM_CLIENT_SECRET="$($info.clientSecret)"

      #     azd env new $env:AZURE_ENV_NAME --location $env:AZURE_LOCATION --no-prompt
      #     azd env set POWER_PLATFORM_USE_CLI "true"
            # azd env set RS_STORAGE_ACCOUNT $env:RS_ACCOUNT_NAME
            # azd env set RS_CONTAINER_NAME $env:RS_CONTAINER_NAME
            # azd env set RS_RESOURCE_GROUP $env:RS_RESOURCE_GROUP
      #     azd provision --no-prompt

        
      # - name: Azd down
      #   env:
      #       AZURE_ENV_NAME: ${{ github.event.inputs.azd_environment_name }}
      #       AZURE_LOCATION: ${{ github.event.inputs.azure_location }}
      #       AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      #   shell: pwsh
      #   run: |
      #     $info = $Env:AZURE_CREDENTIALS | ConvertFrom-Json -AsHashtable;
      #     Write-Host "::add-mask::$($info.clientSecret)"
          
      #     $env:AZURE_SUBSCRIPTION_ID="$($info.subscriptionId)"
      #     $env:ARM_TENANT_ID="$($info.tenantId)"
      #     $env:ARM_CLIENT_ID="$($info.clientId)"
      #     $env:ARM_CLIENT_SECRET="$($info.clientSecret)"

      #     $env:POWER_PLATFORM_TENANT_ID="$($info.tenantId)"
      #     $env:POWER_PLATFORM_CLIENT_ID="$($info.clientId)"
      #     $env:POWER_PLATFORM_CLIENT_SECRET="$($info.clientSecret)"  
          
      #     azd env select $env:AZURE_ENV_NAME
      #     azd down --no-prompt --force --purge