name: Terraform Lint and Security Checks

on:
  pull_request:
    branches:
      - main
    paths:
      - 'infra/**'
      - '.github/workflows/terraform_validate.yml'

permissions:
  contents: read
  security-events: write

jobs:
  lint-and-check:
    name: Lint and Security Checks
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0  # Required for proper GitLeaks scanning

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "1.12.0"  # Pinning specific version is recommended
        
      - name: Terraform Init
        run: terraform init -backend=false
        working-directory: ./infra

      - name: Terraform Fmt
        run: terraform fmt -check -recursive
        working-directory: ./infra

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./infra

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v3
        with:
          tflint_version: v0.49.0  # Specify a version (recommended)
          github_token: ${{ secrets.GITHUB_TOKEN }}  # Used to avoid rate limiting

      - name: Initialize TFLint plugins
        run: tflint --init
        working-directory: ./infra

      - name: Run TFLint
        run: tflint --format=compact --force
        working-directory: ./infra

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@fb227c2654598beaba41394b7c657ab282d05e1b # v12.1347.0
        with: 
          framework: terraform
          download_external_modules: true
          directory: ./infra

      - name: GitLeaks Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          verbosity: "info"
          report-format: "json"
          report-path: "gitleaks-report.json"